<div class="container space-top">
  <button class="btn btn-primary btn-sm" ng-click="createChuDe()">
    <i class="glyphicon glyphicon-plus"></i> Gửi chủ đề mới
  </button>
</div>
<div class="container space-top">
  <div style="background-color: cadetblue;" class="row">
    <div class="col-md-9 padding-title">
      <a style="font-weight: 700;cursor: pointer;">Chủ để/ Người gửi</a>
    </div>
    <div class="col-md-3 padding-title">
      <b>Bình luận mới nhất</b>
    </div>
  </div>
  <div class="row chude-row" ng-repeat="cd in chude">
    <div class="col-md-8">
      <div class="col-md-1 text-left" style="color: black;margin-left: -3%;">
        <i class="fa fa-newspaper-o fa-2x"></i>
      </div>
      <div class="col-md-11">
        <div>
          <a ng-bind="cd.TEN_CHU_DE" ng-click="goChuDe(cd)"></a>
        </div>
        <div>
          <i>Đăng vào {{cd.THOI_GIAN|date: 'HH:mm dd/MM/yyyy'}} bởi </i><span style="color:black;">{{cd.NGUOI_TAO.TEN_DANG_NHAP}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div>
        <i class="fa fa-thumbs-o-up"></i> {{cd.SL_THICH}}
      </div>
      <div>
        <i class="glyphicon glyphicon-eye-open"></i> {{cd.SL_XEM}}
      </div>
    </div>
    <div class="col-md-3">
      post
    </div>
  </div>
</div>
