/*#img-new {
  background-image: url("../img/news.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  cursor: pointer;
  width: 70%;
}*/
/*LOGIN*/

.navbar-inverse {
  background-color: #007196;
  border-color: blue;
}
.navbar {
  min-height: 0;
}
.li-nar:hover {
  background-color: #90bdc7;
}
.breadcrumb {
  margin-bottom: 0px;
  padding-top: 0.5%;
}
.register-div {
  margin-bottom: 2%;
}
