<div class="container">
  <div class="col-md-6"><h4>Đăng ký tài khoản</h4></div>
  <div class="col-md-6 text-right"><a style="cursor: help;" ui-sref="timmk"><i class="fa fa-meh-o"></i> Quên mật khẩu</a></div>
</div>
<div class="container" style="border: 1px solid blue;">
  <div class="row" style="background-color: #2f5aa9; height: 40px;color: white;">
    <label style="padding-top: 0.5%;padding-left: 2%;">Ghi danh với diễn đàn HAT</label>
  </div>
  <div class="row">
    <div class="register-div">
      <b>Thông tin bắt buộc</b>
    </div>
    <form class="form-horizontal" name="formRegister">
      <div class="form-group">
        <i class="col-sm-3 control-label">Tên đăng nhập (<span style="color: red;">*</span>)</i> <i style="color: red;" ng-if="formRegister.name.$error.minlength">Tên đăng nhập quá ngắn</i> <i ng-if="errorTk && !checking" style="color: red;">
          Tên đăng nhập đã đươc sử dụng
        </i>
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="Nhập tên đăng nhập" name="name" ng-model="tk.TEN_DANG_NHAP" minlength="5" maxlength="50" required="true" pattern="[0-9,a-z,A-Z]{5,50}" ng-blur="checkTK(tk.TEN_DANG_NHAP)">
        </div>
      </div>
      <hr/>
      <div class="form-group">
        <i class="col-sm-3 control-label">Mật mã (<span style="color: red;">*</span>)</i> <i style="color: red;" ng-if="formRegister.mk.$error.minlength">Mật khẩu phải từ 6 kí tự trở lên</i>
        <div class="col-sm-5">
          <input type="password" class="form-control" placeholder="Nhập mật mã" minlength="6" maxlength="50" required="true" name="mk" ng-model="tk.MAT_KHAU">
        </div>
      </div>
      <div class="form-group">
        <i class="col-sm-3 control-label">Nhắc lại mật mã (<span style="color: red;">*</span>)</i>
        <div class="col-sm-5">
          <input type="password" class="form-control" ng-style="{'border-color' : tk.MAT_KHAU !== tk.matkhau ? 'red' : '' }" placeholder="Nhập lại mật mã" ng-model="tk.matkhau" required="true">
        </div>
      </div>
      <hr/>
      <div class="register-div">
        <b>Thông tin bảo mật (bắt buộc)</b>
      </div>
      <div class="form-group">
        <i class="col-sm-3 control-label">Mật khẩu cấp 2 (<span style="color: red;">*</span>)</i> <i style="color: red;" ng-if="formRegister.mk2.$error.minlength">Mật khẩu phải từ 10 kí tự trở lên</i>
        <div class="col-sm-5">
          <input type="password" class="form-control" placeholder="Nhập mật khẩu cấp 2" minlength="10" maxlength="50" required="true" name="mk2" ng-model="tk.MAT_KHAU_2">
        </div>
      </div>
      <div class="form-group">
        <i class="col-sm-3 control-label">Nhập lại mật khẩu cấp 2 (<span style="color: red;">*</span>)</i>
        <div class="col-sm-5">
          <input type="password" class="form-control" placeholder="Nhập lại mật khẩu cấp 2" required="true" ng-style="{'border-color' : tk.MAT_KHAU_2 !== tk.matkhau2 ? 'red' : '' }" ng-model="tk.matkhau2">
        </div>
      </div>
      <div class="form-group">
        <i class="col-sm-3 control-label">Câu hỏi bí mật (<span style="color: red;">*</span>)</i>
        <div class="col-sm-5">
          <select class="form-control" ng-model="tk.cauhoi" required="true">
            <option value selected>Chọn câu hỏi bí mật</option>
            <option ng-repeat="qs in questions" value="{{qs}}">{{qs}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <i class="col-sm-3 control-label">Câu trả lời (<span style="color: red;">*</span>)</i> <i ng-if="formRegister.traloi.$error.minlength"> (5 kí tự trở lên)</i>
        <div class="col-sm-5">
          <input type="password" class="form-control" name="traloi" placeholder="Nhập câu trả lời" ng-model="tk.TRA_LOI" required="true" minlength="5" maxlength="50">
        </div>
      </div>
      <hr/>
      <div class="register-div">
        <b>Thông tin bổ sung</b>
      </div>
      <div class="form-group">
        <i class="col-sm-3 control-label">Họ và tên </i> <i ng-if="formRegister.hoten.$error.minlength"> (5 kí tự trở lên)</i>
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="Nhập họ và tên" name="hoten" minlength="6" maxlength="50" ng-model="tk.HO_TEN">
        </div>
      </div>
      <div class="form-group">
        <i class="col-sm-3 control-label">Quê quán</i>
        <div class="col-sm-5">
          <select class="form-control" ng-model="tk.QUE_QUAN">
            <option value selected>Chọn quê quán</option>
            <option value="Hà Nội">Hà Nội</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <i class="col-sm-3 control-label">Ngày sinh</i>
        <div class="col-sm-5">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="tk.ngaysinh" is-open="ngaysinh" datepicker-options="dateOptions" close-text="Close" readonly="true" placeholder="Chọn ngày tháng năm sinh" />
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="ngaysinh = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </p>
        </div>
      </div>
      <div class="form-group">
        <i class="col-sm-3 control-label">Số chứng minh nhân dân</i> <i style="color: red;" ng-if="formRegister.cmnd.$error.pattern">Số CMND không hợp lệ</i>
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="Nhập số chứng minh nhân dân" pattern="[0-9]{9,13}" name="cmnd" ng-model="tk.SO_CMND">
        </div>
      </div>
      <div class="form-group">
        <i class="col-sm-3 control-label">Số điện thoại</i> <i style="color: red;" ng-if="formRegister.sdt.$error.pattern">Số điện thoại không hợp lệ</i>
        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="Nhập số điện thoại" pattern="[0-9]{10,11}" name="sdt" ng-model="tk.SO_DT">
        </div>
      </div>
      <div class="form-group">
        <i class="col-sm-3 control-label">Email</i> <i style="color: red;" ng-if="formRegister.emailInput.$error.email">Email không hợp lệ</i>
        <div class="col-sm-5">
          <input type="email" class="form-control" placeholder="Nhập email cá nhân" name="emailInput" ng-model="tk.EMAIL">
        </div>
      </div>
    </form>
  </div>
</div>
<br/>
<div class="container" style="border: 1px solid blue;">
  <div class="row" style="background-color: #2f5aa9; height: 40px;color: white;">
    <label style="padding-top: 0.5%;padding-left: 2%;">Nội Quy Diễn Đàn</label>
  </div>
  <i>Ðể tiếp tục việc ghi danh, bạn phải đồng ý với những quy định như sau:</i>
  <div class="container" style="border: 1px solid green; overflow-x: auto; height: 300px; width: 90%;">
    <p align="center">
      <font color="#0000FF"><b>WelCome to HATforum</b></font>
    </p>
    <font size="3">
      <font color="#008080"><b>Bạn phải đồng ý với những điều dưới đây để tiếp tục đăng ký thành viên!</b></font>
      <br>
    </font>
    <font color="#b22222"><b><font size="4">A Nội quy dành cho member</font></b></font>
    <font color="#008000"><b><font size="4"><br>
    </font></b></font>
    <font color="#008000"><b>I. Nội quy thành viên</b></font>
    <ul>
      <li>Đăng kí thành viên: Không được lấy tên, biệt danh... của các vị lãnh tụ cách mạng, các vị lãnh đạo đảng, nhà nước, những kẻ xấu như khủng bố, phát xít ... hoặc có ý nghĩa không lành mạnh.</li>
      <li>Không được để chữ kí, hình đại diện hoặc thông tin cá nhân có liên quan đến các vấn đề chính trị, kinh tế và tôn giáo có thể gây bất lợi cho diễn đàn &amp; có nội dung không lành mạnh.</li>
      <li>Không để chữ ký to quá khổ.</li>
      <li>Không đăng ký ID bằng các ký tự đặc biệt như: [ * ¤ ° ´ ¯ )]</li>
    </ul><b><font color="#008000">II. Những quy định chung</font></b>
    <br>
    <font color="#000080"><b><i>1.Lập chủ đề</i></b></font>
    <ul>
      <li>Chủ đề phải xúc tích, nêu bật được ý cần nói.</li>
      <li>Không lập các topic có nội dung sai lệch với tiêu chí hoạt động chung của box</li>
      <li>Không lặp lại một topic đã có hoặc lập một topic có nội dung tương tự.- Không lập các topic mới một cách tràn lan, các topic có nhiều ảnh, hạn chế tối đa mở nhiều topic, làm mọi người khó theo dõi.</li>
    </ul><i><font color="#000080"><b>2. Về nội dung bài viết :</b></font></i>
    <ul>
      <li>Không lạm dụng các chức năng bài viết, không để text size quá lớn. Những hành vi sau đây được gọi là câu bài: Post nhiều bài liền nhau bằng cách cố ý chia nhỏ nội dung một bài ra làm nhiều phần.</li>
      <li>Post bài phù hợp, đúng với chủ đề, không được cố tình làm loãng topic bằng cách post những bài có nội dung không liên quan đến chủ đề của topic</li>
      <li>Nghiêm cấm tuyệt đối post các bài chống phá nhà nước, các bài liên quan tới chính trị.</li>
      <li>Tránh việc lạm dụng các emoticon trong bài viết, sử dụng quá nhiều sẽ bị ban nick.</li>
      <li>Bài viết nếu là tiếng Việt phải có dấu.</li>
      <li>Không gửi nhiều bài cùng một nội dung ở các topic khác nhau</li>
      <li>Không dùng chữ quá to, quá nhỏ hoặc lạm dụng font chữ, màu sắc.</li>
      <li>Không được gửi các bài có virus lên diễn đàn.</li>
      <li>Không viết bài vi phạm thuần phong mỹ tục, pháp luật, văn hoá Việt Nam...</li>
      <li>Không viết bài bêu xấu, miệt thị hoặc xúc phạm các thầy cô giáo, bạn bè cũng như các thành viên khác.</li>
      <li>Không gây hiềm khích, tranh luận quá gay gắt với các thành viện khác.</li>
    </ul>
    <font color="#000080"><i><b>3. Qui định chung:</b></i></font>
    <ul>
      <li>Không sử dụng ngôn ngữ teen, viết chuẩn tiếng Việt có dấu hoặc tiếng Anh.</li>
      <li>Nghiêm cấm sử dụng những từ ngữ, hình ảnh, thông tin không lành mạnh, thiếu văn hóa.</li>
      <li>Tránh những nội dung phản động về chính trị, tôn giáo. Nghiêm cấm tuyên truyền, khích động những hành vi bạo lực, tuyên truyền phản động hoặc các hành vi phá hoại.</li>
      <li>Không cãi nhau, gây mất đoàn kết diễn đàn. Nếu bất kì một thành viên nào muốn phản đối về cách làm việc của điều hành viên thì có thể post vào box ý kiến về điều hành viên hoặc PM cho admin.</li>
      <li>Để tránh những rắc rối về bài viết sau này, nếu là bài viết sưu tầm, thành viên gửi bài cần ghi rõ là sưu tầm và ghi nguồn gốc bài viết đó.</li>
    </ul><i><font color="#000080"><b>4. Hình thức Kỷ luật cho Thành viên vi phạm:<br>
    </b></font></i>
    <ul>
      <li>Nhẹ : Nhắc nhở<b><font color="#008000"><br>
      </font></b></li>
      <li>Vừa : Nhắc nhở + Cảnh cáo</li>
      <li>Nặng : Tùy vào mức độ cảnh cáo và vi phạm, banned 3 ngày -&gt;4ever, reset toàn bộ số bài viết.</li>
      <li>Rất nặng : Banned vĩnh viễn xóa tất cả các bài viết.</li>
    </ul><b><font size="3"><font color="#b22222">B. Phần dành cho BQT (Admin, Smod, Mod)</font></font></b>
    <br>
    <br>
    <font color="#008000"><b>1.Admin</b></font>
    <ul>
      <li>Cấp quyền mod, Smod, admin để điều hành diến đàn.</li>
      <li>Mở các box mới theo yêu cầu biểu quyết của đa số mem</li>
      <li>Tổ chức các cuộc thi theo yêu cầu của mem hoặc tự tổ chức</li>
      <li>Theo dõi, xử lý các sự cố liên quan đến kỹ thuật của diễn đàn.</li>
      <li>Nghiên cứu, cài đặt các mods/hacks/plugins cho diễn đàn.</li>
      <li>Thiết kế smileys, avatars, icons, banners, buttons, templates</li>
      <li>Chịu trách nhiệm liên hệ trao đổi banner quảng cáo, quảng bá</li>
      <li>Đăng bài quảng cáo, quảng bá trên các diễn đàn, website khác.</li>
      <li>Quản lý Nhân sự</li>
      <li>Ban/unban thành viên.</li>
      <li>Huấn luyện kỹ thuật, phát triển kỹ năng viết cho Smod.</li>
      <li>Theo dõi, biên tập, xử lý và chịu trách nhiệm cuối cùng cho tất cả các bài viết trên diễn đàn. Giám sát mọi hoạt động liên quan đến nội dung diễn đàn.</li>
    </ul>
    <font color="#008000"><b>2. Super moderators (Smod)<br>
    </b></font>
    <ul>
      <li>Giám sát tất cả các hoạt động của những boxes, sub-boxes.</li>
      <li>Biên tập, xử lý các bài viết trong boxes, sub-boxes.</li>
      <li>Huấn luyện kỹ thuật, phát triển kỹ năng viết cho Mod.</li>
      <li>Giám sát hoạt động của các Mod và thành viên.</li>
      <li>Đề xuất hủy/cấp quyền Mod.</li>
      <li>Đề xuất mở/đóng các boxes, sub-boxes</li>
      <li>Đề xuất phát động các cuộc thi để phát triển phong trào trong diễn đàn mình quản lý.</li>
    </ul>
    <font color="#008000"><b>3. Moderators</b></font>
    <ul>
      <li>Là những người giúp Ban Quản Trị điều hành diễn đàn.</li>
      <li>Có quyền quản lý bài viết trong các box được bổ nhiệm</li>
      <li>Ngoài ra những người này đều như thành viên bình thường ở các box khác.</li>
      <li>Phải vào forum thường xuyên</li>
      <li>Thông thạo về lãnh vực của box mà mình quản lý.</li>
      <li>Sửa/xóa ngay những bài đi lạc với chủ đề hay có nội dung không nhằm phát triển chủ đề (tranh cãi, đả kích...). Thông báo cho mem về nội dung bài vi phạm</li>
    </ul>Đề nghị tất cả thành viên BQT thực hiện tuyệt đối quy định này nhằm tránh mất đoàn kết trong nội bộ BQT cũng như trên toàn thể diễn đàn Bạc LiêuTrong trường hợp xảy ra tranh cãi, Hội đồng Admin là người quyết định cuối cùng. Đồng thời, nếu có sự sai sót, Hội đồng Admin cũng sẽ đề cử mức xử phạt và Admin post thông báo xử phạt.
    <br>
    <br> Mong các bạn chấp hành nghiêm chỉnh . Và để ý để tránh sự mất trật tự trên forums
    <br>
    <br>
    <br>
    <b><font size="3"><font color="#B22222"><font size="4">C. Quy định thêm cho diễn đàn</font><br>
      </font></font><font color="#008000">1. Chatbox</font></b>
    <ul>
      <li>Không cãi lộn, chửi thề gây gổ với các thành viên khác trên chatbox.</li>
      <li>Không spam Icon quá nhiều lần -&gt; Vi phạm sẽ bị ban nick chatbox vĩnh viễn.</li>
      <li>Dùng ngôn ngữ tiếng Việt hoặc tiếng Anh, không sử dụng ngôn ngữ teen.</li>
    </ul>
    <font color="#008000"><b>2. Quy định thêm về bài Viết<br>
    </b></font>
    <ul>
      <li>Thành viên phải có từ 10 bài viết trở lên mới được post link, email, hình ảnh.</li>
      <li>Diễn đàn không cho phép post bài quảng cáo, SEO link..</li>
    </ul>
    <font color="#b22222"><b>Ngoài ra các quy định mới nhất trong diễn đàn sẽ được BQT cập nhật trong mục:</b></font>
    <br>
    <br>
  </div>
  <hr/>
  <div style="margin:1%;" class="text-center">
    <input type="checkbox" ng-model="checkNoiQuy" /> <b>Tôi đã đọc và đồng ý với những quy định của diễn đàn</b>
  </div>
</div>
<div class="text-center " style="margin-top: 1%; ">
  <button class="btn btn-primary" ng-disabled="!checkNoiQuy || formRegister.$invalid || checking || errorTk" ng-click="dangky(tk, !checkNoiQuy || formRegister.$invalid || checking || errorTk)">Đăng ký thành viên để thảo luận, chia sẻ kiến thức</button>
  <button class="btn btn-primary ">Hủy bỏ tất cả</button>
  </div
